<!DOCTYPE html>
<html>
  <head>
    <title>Ingreso</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Personal de Nuevo Ingreso</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= new_member_path %>">Nueva Solicitud</a></li>
            <li><a href="<%= members_path %>">Empleados</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
          <%= image_tag("logo_cepal_header.png", :class=> "logo_cepal") %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    <%= yield %>
    </div><!--/.container -->
  </body>
</html>
