<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4><strong><%= @member.nombre+" "+@member.apellido%></strong></h4>
                    Index no. <strong><%= @member.index %></strong>
                    <p>
                    <!-- <i class="glyphicon glyphicon-envelope"></i>email@example.com
                    <br /> -->
                        Tipo de contrato: <strong><%= @member.tipo_contrato %></strong> <br>
                        Inicio: <strong><%= @member.fecha_inicio.strftime("%d/%b/%Y") %></strong><br>
                        Fin: <strong><%= @member.fecha_fin.strftime("%d/%b/%Y") %></strong><br>
                        Número de oficina: <strong><%= @member.numero_oficina %></strong> <br>
                        Roles de Umoja: <strong><%= @member.roles_umoja %></strong><br>
                        Programas (software): <strong><%= @member.programas %></strong>
                    </p>
                    <h4>Requiere:</h4>
                    <p>
                    <%if @member.oficina %>Espacio u oficina<br><% end %>
                    <%if @member.computo %>Equipo de cómputo<br><% end %>
                    <%if @member.telefono %>Teléfono<br><% end %>
                    <%if @member.llamadas_ld %>Llamadas de larga distancia o celular<br><% end %>
                    <%if @member.usuario_novell %>Usuario de novell<br><% end %>
                    <%if @member.lotus_notes %>Correo electrónico<br><% end %>
                    <%if @member.lista_correo %>Lista de correo electrónico de la sección<br><% end %>
                    <%if @member.acceso_shared %>Acceso a shared drive<br><% end %>
                    <%if @member.acceso_umoja %>Acceso a Umoja<br><% end %>
                    </p>
                    
                    <%if @member.nombre_solicitante != nil and @member.email_solicitante != nil %>
                        <h4>Solicitante:</h4>
                        <strong><%= @member.nombre_solicitante + " (" + @member.email_solicitante + ")"%></strong>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>