<h1>Aprobar nuevo usuario</h1>

<div class="group-section">
<h2>Datos generales</h2>
<%= form_for @member do |f| %>
  <% if @member.errors.any? %>
    <div class="alert-danger" role="alert">Por favor corrija los errores siguientes:
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>  
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      <br>
      <%= f.label :nombre, "Nombre(s)*" %><br>
      <%= f.text_field :nombre %>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :apellido, "Apellido(s)*" %><br>
      <%= f.text_field :apellido, style: 'text-transform:uppercase' %>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    <br>
      <%= f.label :fecha_inicio, "Fecha de inicio*" %><br>
      <%= f.text_field :fecha_inicio, placeholder: 'dd/mm/yy', :readonly => true%>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :fecha_fin, "Fin de contrato*" %><br>
      <%= f.text_field :fecha_fin, placeholder: 'dd/mm/yy', :readonly => true%>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    <br>
      <%= f.label :index, "Index no.*" %><br>
      <%= f.number_field :index %>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :tipo_contrato, "Tipo de contrato*" %><br>
      <%= f.select :tipo_contrato, [
        ['Fixed term', 'Fixed term'],
        ['Temporary', 'Temporary'],
        ['Intern', 'Intern'],
        ['Consultant', 'Consultant'],
        ['Contractor', 'Contractor'],
        ]%>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>
  <h2>Requiere:</h2>
  <div class="row">
    <div class="col-sm-4">
      <%= f.check_box :oficina %><%= f.label :oficina, "Espacio u oficina" %>
      <br><%= f.check_box :computo %><%= f.label :computo, "Equipo de cómputo" %>
      <br><%= f.check_box :telefono %><%= f.label :telefono, "Teléfono" %>
      <br><%= f.check_box :llamadas_ld %><%= f.label :llamadas_ld, "Llamadas de larga distancia o celular" %>
      <br><%= f.check_box :usuario_novell %><%= f.label :usuario_novell, "Usuario de novell" %>
      <br><%= f.check_box :lotus_notes %><%= f.label :lotus_notes, "Correo electrónico" %>
      <br><%= f.check_box :lista_correo %><%= f.label :lista_correo, "Lista de correo electrónico de la sección" %>
      <br><%= f.check_box :acceso_shared %><%= f.label :acceso_shared, "Acceso a shared drive" %>
      <br><%= f.check_box :acceso_umoja %><%= f.label :acceso_umoja, "Acceso a Umoja" %>
    </div>

    <div class="col-sm-4">
      <br>
      <%= f.label :numero_oficina, "Número de oficina" %><br>
      <%= f.text_field :numero_oficina %>
      <br>
      <%= f.label :roles_umoja, "Roles de Umoja" %><br>
      <%= f.text_area :roles_umoja %>
      <br>
      <%= f.label :programas, "Programas (software)" %><br>
      <%= f.text_area :programas %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <br>
      <%= f.label :nombre_solicitante, "Nombre(s) solicitante*" %><br>
      <%= f.text_field :nombre_solicitante %>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :email_solicitante, "Correo electrónico del solicitante*" %><br>
      <%= f.text_field :email_solicitante %>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    <br><br>
      <%= f.submit "Enviar solicitud" %>
    </div>
    <div class="col-sm-9">&nbsp;</div>
  </div>
<% end %>
</div>