<h1>Lista de empleados</h1>
<div class="list-group">

<table class="tabla-listar">
	<tr>
		<th>Apellido</th>
		<th>Nombre</th>
		<th>Index No.</th>
		<th>Fecha de inicio</th>
		<th>Fecha de termino</th>
		<th>Ver</th>
		<th>Editar</th>
		<th>Borrar</th>
	</tr>

<% @members.each do |member| %>
	<tr>
		<td><%= member.apellido.to_s %></td>
		<td><%= member.nombre.to_s %></td>
		<td><%= member.index.to_s %></td>
		<td><%= unless member.fecha_inicio.nil? 
							member.fecha_inicio.strftime("%d/%b/%y")
						end %></td>
		<td><%= unless member.fecha_fin.nil? 
							member.fecha_fin.strftime("%d/%b/%y")
						end %></td>
		<td><%= link_to 'Ver', member_path(member) %></td>
		<td><%= link_to 'Editar', edit_member_path(member) %></td>
		<td><%= link_to 'Borrar', member_path(member),
						method: :delete,
						data: {confirm: 'Seguro que lo deseas eliminar?'}%></td>
	</tr>
<% end %>
</table>