<h1>Nueva solicitud</h1>

<%= form_for :member, url: members_path do |f| %>
  <% if @member.errors.any? %>
    <div class="alert-danger" role="alert">Por favor corrija los errores siguientes:
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>  
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      <br>
      <%= f.label :nombre, "Nombre(s)" %><br>
      <%= f.text_field :nombre %>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :apellido, "Apellido(s)" %><br>
      <%= f.text_field :apellido, style: 'text-transform:uppercase' %>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    <br>
      <%= f.label :fecha_inicio, "Fecha de inicio" %><br>
      <%= f.text_field :fecha_inicio, placeholder: 'dd/mm/yy', :readonly => true%>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :fecha_fin, "Fin de contrato" %><br>
      <%= f.text_field :fecha_fin, placeholder: 'dd/mm/yy', :readonly => true%>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    <br>
      <%= f.label :index, "Index no." %><br>
      <%= f.number_field :index %>
    </div>
    <div class="col-sm-3">
    <br>
      <%= f.label :tipo_contrato, "Tipo de contrato" %><br>
      <%= f.select :tipo_contrato, [['Permanente', 'permanente'],
        ['Pasante', 'pasante'],
        ['Temporal', 'temporal']]%>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    <br><br>
      <%= f.submit "Enviar solicitud" %>
    </div>
    <div class="col-sm-9">&nbsp;</div>
  </div>
<% end %>
