<p>
  Nombre
  <h2><%= @member.nombre %></h2>
</p>

<p>
  Apellido
  <h2><%= @member.apellido %></h2>
</p>

<p>
  Index No.
  <h2><%= @member.index %></h2>
</p>

<p>
  Fecha de inicio
  <h2><%= @member.fecha_inicio %></h2>
</p>

<p>
  Fecha de término
  <h2><%= @member.fecha_fin %></h2>
</p>

<p>
  Tipo de contrato
  <h2><%= @member.tipo_contrato %></h2>
</p>